.cropdiv {
  max-width: 100%;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;

}


.cropimg {
  position: absolute;
  top: -50%; /* Adjust the percentage to crop more or less from the top */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}