.full-width {
  width: 100vw !important;
}

a {
  color: lightblue !important;
}

/* .nutella {
  top: -20%; 
  bottom: -20%;
} */

p {
  font-size: 16px;
}

body {
  background-color: #1f1f1f !important;
  color: #d4d4d4 !important;
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  padding-left: 320px !important;
  padding-right: 320px !important;
}

#tribute-info {
  font-size: 24px;
  font-weight: bold;
}

.cropimg1 {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center 40%;
}

.cropimg2 {
  min-width: 100%; /
  max-height: 500px !important;
  height: auto; 
  object-fit: cover;
  object-position: center;
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width: 100% !important;
}

.single-image-container {
  display: flex;
  justify-content: center;
}

.screenshot {
  align-self: center;
  display: flex;
  margin: 0 !important;
}

figcaption {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin-top: 1%;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: #1f1f1f !important;
  color: #d4d4d4 !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 20px !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  background-color: #333333;
  color: #cccccc;
  text-align: center; 
  position: fixed !important;
}

#author-section {
  background-color: #171212; /* Change this color as needed */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-top: 2px solid #3c3434;
  padding-left: 5%;
  padding-right: 5%;
}

.author-img {
  border-radius: 50%;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  margin-right: 20px;
}

.author-info {
  text-align: left;
}

.author-info p {
  margin: 5px 0;
  font-size: 14px;
}

img {
  max-height: 400px;
  max-width: 400px;
}

/* Small screen media query */
@media (max-width: 1000px) {
  main {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}